读 HTTP 标准

HTTP 协议的应用非常广泛. 有时, 参看标准是解决问题的最好办法.

HTTP 1.1 协议由 Network Working Group(和 W3C 什么关系不清楚...) 制定并发布为 RFC 标准. https://www.w3.org/Protocols/rfc2616/rfc2616.html

现在主要由 IETF 推进.

近期的一个重大变化是 2014 年将 RFC2616 废弃并使用 RFCs (7230-7237) 一系列标准将其替换. http://www.infoq.com/cn/news/2014/06/http-11-updated

但是 RFCs (7230-7237) 也并没有完全代表 HTTP 1.1, 比如常见的 PATCH 方法由 RFC5789 定义.

---

对于普通 Web 开发者来说, 常用是 RFC7231:

- 请求方法 https://tools.ietf.org/html/rfc7231#section-4
- 请求头 https://tools.ietf.org/html/rfc7231#section-5
- 状态码 https://tools.ietf.org/html/rfc7231#section-6

关于请求头和状态码, 还有一些额外标准, 比如 RFC7235 中的认证部分.